<div class="header">
  <div class="logo">
    <span>Auto Haven</span>
  </div>

  <div class="section-right">
    <div class="switch-section">
      <app-toggle-switch></app-toggle-switch>
      <span>Change Theme</span>
    </div>
    <div>
      <button *ngIf="!loggedIn" class="btn btn-transparent ml-8" (click)="openModal()">Login</button>
      <button *ngIf="loggedIn" class="btn btn-transparent ml-8" (click)="logout()">Logout</button>
    </div>
  </div>
</div>

<app-login #login [width]="'300px'" (isLogin)="userLoggedIn($event)"></app-login>