/***** Spacings *****/
$base-space: 8px;
$space-8: $base-space*1;
$space-12: $base-space*1.5;
$space-14: $base-space*1.75;
$space-16: $base-space*2;
$space-24: $base-space*3;
$space-32: $base-space*4;
$space-40: $base-space*5;


/**** Background and Font Colors ****/
$text-color: #000000;
$primary-color: #ffffff;
$light-text-color: #A9A9A9;
$background-color: #ececec;

$price-text-color: #480000;

$border-color: #C8C8C8;

/**** Toggle Switch Colors ****/
$toggle-background-color: #ccc;

$primary-btn-color: #3D72A4;