/* You can add global styles to this file, and also import other style files */

@import "./assets/themes/_variables.scss";
@import "./assets/themes/_mixins.scss";


html, body {
  font-family: Calibri, Arial, sans-serif;
  @include custom-fontSize();
  margin: 0;
  height: 100%;
}

body .light {
    --text-color: #000000;
    --primary-color: #ffffff;
    --light-text-color: #a9a9a9;
    --background-color: #ececec;

    --primary-btn-color: #3D72A4;
    --primary-btn-text-color: #fff;

    --transparent-btn-color: #fff;
    --transparent-btn-text-color: #3D72A4;

    --content-background-color: #fff;

    --price-text-color: #480000;

    --border-color: #c8c8c8;

    --error-text-color: #ff0000;

    /**** Modal Variables ****/
    --modal-background: #fefefe;
    --modal-border-color: #888;

    .error {
      color: var(--error-text-color);
      font-weight: bold;
    }
}

body .dark {
  --text-color: #fff;
  --primary-color: #686868;
  --light-text-color: #a9a9a9;
  --background-color: #888888;

  --primary-btn-color: #3D72A4;
  --primary-btn-text-color: #fff;

  --transparent-btn-color: #fff;
  --transparent-btn-text-color: var(--primary-color);

  --content-background-color: #D8D8D8;

  --price-text-color: #480000;

  --border-color: #c8c8c8;

  --error-text-color: #ff0000;

  /**** Modal Variables ****/
  --modal-background: #fefefe;
  --modal-border-color: #888;

  .error {
    color: var(--error-text-color);
    font-weight: bold;
  }
}

.ml-8 {
  margin-left: $space-8;
}

.ml-16 {
  margin-left: $space-16;
}

.ml-24 {
  margin-left: $space-24;
}

.pb-24 {
  padding-bottom: $space-24;
}

.text-center {
  text-align: center;
}
