/* You can add global styles to this file, and also import other style files */

@import "./assets/themes/_variables.scss";
@import "./assets/themes/_mixins.scss";

@import "./assets/themes/light-theme.scss";
@import "./assets/themes/dark-theme.scss";

html, body {
  font-family: Calibri, Arial, sans-serif;
  @include custom-fontSize();
  margin: 0;
  height: 100%;
}
